<!-- START Sovi Apps Facebook Reviews for Shopify -->
<div id="enb_fb-mountpoint" ></div>
<!-- END Sovi Apps Facebook Reviews for Shopify -->

<script type="text/javascript" src="https://{{ shop.domain }}/apps/enoble_reviews_scripts/enoble_reviews.js"></script>
{% schema %}
  {
	"name": "Facebook Review",
	"class": "enb_fb_section",
	"settings": [
    {
      "type": "header",
      "content": "Welcome to Facebook Reviews by Sovi Apps."
    },
     {
      "type": "paragraph",
      "content": "You wont have to do any customizations here, only in the app. If you require any assitance, our dedicated team is happy to assist. All you have to do is email us at support@soviapps.com"
    }

  ],
    "presets": [{
      "name": "Facebook Review",
      "category": "Sovi Apps Facebook Reviews"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
