{%- section 'pages_heading' -%}<div class="container mt__60 mb__60">{{ page.content }}</div>
{% section 'custom-image-with-text' %}
{% section 'custom-autoplay-video' %}
{% section 'custom-card-grid.liquid' %}